@{
    Layout = "_Layout";
}
<b>Welcome</b><br />
<img src="https://media0.giphy.com/media/8Iv5lqKwKsZ2g/giphy.gif?cid=6c09b952kh8h1qurnzgu63iwgouozf4qkux11jrfkhjc1uh1&ep=v1_gifs_search&rid=giphy.gif&ct=g" />
<br /><br />
<a href="/room?roomId=@Guid.NewGuid().ToString("N").ToLower()" class="btn btn-primary">Create Pocker Room</a>