@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using ScrumPoker.Web.Models
@model ScrumPoker.Web.Models.PlanningPokerIndexViewModel

@{
    ViewData["Title"] = "Room";
    Layout = "~/Views/Shared/_RoomLayout.cshtml";
    bool isOwner = HttpContextAccessor.HttpContext.Session.GetString("IsOwner") != null ? bool.Parse(HttpContextAccessor.HttpContext.Session.GetString("IsOwner")) : false;
}

@await Html.PartialAsync("_PageTitlePartialView", new PageTitlePartialViewModel() { Title = Model.Name })

<div class="row">

    <!-- ========== Left Start ========== -->
    <div class="col-lg-3">
        <div class="card ribbon-box">
            <div class="text-center card">
                <div class="card-body">
                    <div class="ribbon ribbon-blue float-start"><i class="mdi mdi-access-point me-1"></i> Manager</div>
                    <br />   <br />
                    <div class="pt-2 pb-2">
                        <img src="/images/users/user-3.jpg" class="rounded-circle img-thumbnail avatar-xl" alt="profile-image">

                        <h4 class="mt-3"><a href="contacts-profile.html" class="text-dark">Sebahattin</a></h4>
                        <p class="text-muted">Room Manager</p>

                        <button type="button" class="btn btn-white rounded-pill waves-effect waves-light">Oyları Göster</button>
                        <button type="button" class="btn btn-white rounded-pill waves-effect">Sonraki Tur</button>
                        <button type="button" class="btn btn-white rounded-pill waves-effect">Sıfırla</button>
                    </div> <!-- end .padding -->
                </div>
            </div>
        </div>
        <!-- ========== Room Start ========== -->
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-3">Manager</h4>

                <div class="inbox-widget" data-simplebar="init" style="max-height: 350px;">
                    <div class="simplebar-wrapper" style="margin: 0px;">
                        <div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask">
                            <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: auto; overflow: hidden scroll;">
                                    <div class="simplebar-content" style="padding: 0px;">
                                        <div class="inbox-item d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <div class="inbox-item-img">
                                                    <img src="/images/users/user-2.jpg" class="rounded-circle" alt="" style="width: 40px; height: 40px;">
                                                </div>
                                                <p class="inbox-item-author mb-0">
                                                    Özgür
                                                    <br />
                                                    <span class="badge badge-soft-secondary">Backend</span>
                                                </p>

                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-white dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="#">Remove</a>
                                                        <a class="dropdown-item" href="#">Make Observer</a>
                                                        <a class="dropdown-item" href="#">Make Admin</a>
                                                    </div>
                                                </div>
                                                <div class="ms-1">
                                                    <span class="btn-white badge badge-soft-dark font-13" style="padding:12px;width: 40px;"> <i class="ti-time"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="inbox-item d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <div class="inbox-item-img">
                                                    <img src="/images/users/user-2.jpg" class="rounded-circle" alt="" style="width: 40px; height: 40px;">
                                                </div>
                                                <p class="inbox-item-author mb-0">
                                                    Rıdvan
                                                    <br />
                                                    <span class="badge badge-soft-secondary">Backend</span>
                                                </p>

                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-white dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="#">Remove</a>
                                                        <a class="dropdown-item" href="#">Make Observer</a>
                                                        <a class="dropdown-item" href="#">Make Admin</a>
                                                    </div>
                                                </div>
                                                <div class="ms-1">
                                                    <span class="btn-white badge badge-soft-info font-13" style="padding:12px;width: 40px;"> <i class="fe-check"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="inbox-item d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <div class="inbox-item-img">
                                                    <img src="/images/users/user-2.jpg" class="rounded-circle" alt="" style="width: 40px; height: 40px;">
                                                </div>
                                                <p class="inbox-item-author mb-0">
                                                    Sebo
                                                    <br />
                                                    <span class="badge badge-soft-secondary">Backend</span>
                                                </p>

                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-white dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="#">Remove</a>
                                                        <a class="dropdown-item" href="#">Make Observer</a>
                                                        <a class="dropdown-item" href="#">Make Admin</a>
                                                    </div>
                                                </div>
                                                <div class="ms-1">
                                                    <span class="btn-white badge badge-soft-success font-13" style="padding:12px;width: 40px;">7</span>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div><div class="simplebar-placeholder" style="width: auto; height: 451px;"></div>
                    </div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 271px; transform: translate3d(0px, 0px, 0px); display: block;"></div></div>
                </div> <!-- end inbox-widget -->
            </div>
        </div>

        <!-- ========== Waiting Start ========== -->
        <div class="card" id="divVoteExpectedUserList">
            <div class="card-body">
                <h5 class="card-title mb-0">Bekliyor</h5>
                <br />
                <div id="cardCollpase1" class="collapse show">
                    <div class="table-responsive">
                        <table class="table table-centered table-nowrap table-striped" id="tblVoteExpectedUserList">
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- ========== Done Start ========== -->
        <div class="card" id="divVotedUserList">
            <div class="card-body">
                <h5 class="card-title text-success mb-0">Oy Verildi</h5>
                <br />
                <div id="cardCollpase1" class="collapse show">
                    <div class="table-responsive">
                        <table class="table table-centered table-nowrap table-striped" id="tblVotedUserList">
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- ========== Left End ========== -->

    <div class="col-lg-6">
        <div class="row">

            <div class="col-12">
                <div class="card border-warning border mb-2 ribbon-box">
                    <div class="card-body">
                        <div class="ribbon-two ribbon-two-warning"><span>Voting</span></div>
                        <div class="row justify-content-between">
                            <div class="col-auto">
                                <h5 class="card-title mb-0"><a href="#" class="btn btn-info waves-effect waves-light btn-xs">KOD-123</a> Lugas Safe Server IOC Operasyonları</h5>
                            </div>
                            <div class="col-md-4 text-end">
                                <button class="btn btn-sm btn-light waves-effect waves-light">Oylamayı Sıfırla</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="row justify-content-between">
                            <div class="col-3">
                                <div class="card">
                                    <div class="card-body text-secondary">
                                        <h5 class="card-title">Live Information</h5>
                                        <span class="live-info">Choose a card.</span>
                                    </div>
                                </div> <!-- end card-->
                            </div>
                            <div class="col-auto">
                                <div class="card ">
                                    <div class="card-body text-secondary">
                                        <div class="cards-custom" id="poker-cards">
                                        </div>
                                    </div>
                                </div> <!-- end card-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="row justify-content-between">
                            <div class="col-3">
                                <div class="card">
                                    <div class="card-body text-secondary">
                                        <div class="d-flex justify-content-center gap-3 mt-4 mb-3" id="divMyChart">
                                            <div>
                                                <canvas id="myChart"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- end card-->
                            </div>
                            <div class="col-auto">
                                <div class="card ">
                                    <div class="card-body text-secondary">
                                        <div class="d-flex justify-content-center gap-3 mt-4 mb-3" id="divMyChart">
                                            <div>
                                                <canvas id="myChart"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- end card-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-0"><a href="#" class="btn btn-info waves-effect waves-light btn-xs">KOD-123</a> Lugas Safe Server IOC Operasyonları</h5>
                <br />
                <div id="cardCollpase1" class="collapse show">
                    <div class="table-responsive">
                        This is a wider card with supporting text below as a natural lead-in to additional content.
                        This content is a little bit longer. Some quick example text to build on the card title and make up the bulk of the card's content.
                        <br />
                        <br />
                        <button class="btn btn-outline-light waves-effect btn-xs">
                            <i class="mdi mdi-tag"></i> Etiket
                        </button>
                        <hr />
                        <button class="btn btn-sm btn-light waves-effect waves-light">Oylamayı Sıfırla</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-0"><a href="#" class="btn btn-info waves-effect waves-light btn-xs">KOD-123</a> Lugas Safe Server IOC Operasyonları</h5>
                <br />
                <div id="cardCollpase1" class="collapse show">
                    <div class="table-responsive">
                        This is a wider card with supporting text below as a natural lead-in to additional content.
                        This content is a little bit longer. Some quick example text to build on the card title and make up the bulk of the card's content.
                        <br />
                        <br />
                        <button class="btn btn-outline-light waves-effect btn-xs">
                            <i class="mdi mdi-tag"></i> Etiket
                        </button>
                        <hr />
                        <button class="btn btn-sm btn-success waves-effect waves-light">Oylamaya Başlat</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="userId" class="form-control" value="@(string.IsNullOrEmpty(Model.OwnerUserId) ? Guid.NewGuid().ToString("N") : Model.OwnerUserId)" />

<div class="modal fade" tabindex="-1" role="dialog" id="profileSettings">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="userName" class="col-form-label">Display Name</label>
                    <input type="text" class="form-control" id="userName">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSaveProfile">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="~/js/signalr/signalr.js"></script>
    <script src="~/js/site.js"></script>

    <script type="text/javascript">
        window.roomId="@Model.RoomId";
        window.isOwner="@isOwner";

        const roomManager = new RoomManager(window.roomId, window.isOwner);
        jQuery("#btnSaveProfile").click(function(){
         roomManager.saveProfile();
        });

          $(".next-round-custom").click(function () {
                if ($(".next-round-custom").html() == "Oyları Göster") {
                    $(".next-round-custom").html("Sonraki Tur");
                    console.log("Oyları Göster");
                    $("#myChart").css("visibility","visible");
                    $("#myChart").css("height","300px");
                    roomManager.showRoundResults();
                }
                else if ($(".next-round-custom").html() == "Sonraki Tur") {
                    $(".next-round-custom").html("Oyları Göster");
                    $("#myChart").css("visibility","hidden");
                    $("#myChart").css("height","0px");
                    console.log("Sonraki Tur");
                    roomManager.nextRound();
                }

            });


    </script>
}
