@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using ScrumPoker.Web.Models
@model ScrumPoker.Web.Models.PlanningPokerIndexViewModel

@{
    ViewData["Title"] = "Room";
    Layout = "~/Views/Shared/_RoomLayout.cshtml";
    bool isOwner = HttpContextAccessor.HttpContext.Session.GetString("IsOwner") != null ? bool.Parse(HttpContextAccessor.HttpContext.Session.GetString("IsOwner")) : false;
}

@await Html.PartialAsync("_PageTitlePartialView", new PageTitlePartialViewModel() { Title = Model.Name })

<div class="row">

    <!-- ========== Left Start ========== -->
    <div class="col-lg-3">

        <!-- ========== Room Start ========== -->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-0">Room</h5>
                <br />
                <div class="avatar-group mb-3" id="users-in-the-room">
                </div>
            </div>
        </div>

        <!-- ========== Waiting Start ========== -->
        <div class="card" id="divVoteExpectedUserList">
            <div class="card-body">
                <h5 class="card-title mb-0">Bekliyor</h5>
                <br />
                <div id="cardCollpase1" class="collapse show">
                    <div class="table-responsive">
                        <table class="table table-centered table-nowrap table-striped" id="tblVoteExpectedUserList">
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- ========== Done Start ========== -->
        <div class="card" id="divVotedUserList">
            <div class="card-body">
                <h5 class="card-title text-success mb-0">Oy Verildi</h5>
                <br />
                <div id="cardCollpase1" class="collapse show">
                    <div class="table-responsive">
                        <table class="table table-centered table-nowrap table-striped" id="tblVotedUserList">
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- ========== Left End ========== -->

    <div class="col-lg-6">
        <div class="row">

            <div class="col-12">
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="row justify-content-between">
                            <div class="col-auto">
                                <h5 class="card-title mb-0"><a href="#" class="btn btn-info waves-effect waves-light btn-xs">KOD-123</a> Lugas Safe Server IOC Operasyonları</h5>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-sm btn-light waves-effect waves-light">Oylamayı Sıfırla</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <!-- Üstteki Kullanıcılar -->
                <div class="col-12 d-flex justify-content-center" id="topUserList">
                </div>

                <!-- Sonraki Tur Butonu -->
                <div class="col-12 d-flex justify-content-center">
                    @if (!isOwner)
                    {
                        <div class="card next-round-custom">
                            Aşağıdan bir kart seçiniz
                        </div>
                    }
                    else
                    {
                        <div class="card next-round-custom">Oyları Göster</div>
                    }
                </div>
                <!-- Alttaki Kullanıcılar -->
                <div class="d-flex justify-content-center gap-3 mt-4 mb-3" id="bottomUserList">
                </div>

                <div class="d-flex justify-content-center gap-3 mt-4 mb-3">
                    <div>
                        <canvas id="myChart"></canvas>
                    </div>
                </div>

            </div>

            <div class="col-12 cards-custom" id="poker-cards">
            </div>

        </div>
    </div>

    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-0"><a href="#" class="btn btn-info waves-effect waves-light btn-xs">KOD-123</a> Lugas Safe Server IOC Operasyonları</h5>
                <br />
                <div id="cardCollpase1" class="collapse show">
                    <div class="table-responsive">
                        This is a wider card with supporting text below as a natural lead-in to additional content.
                        This content is a little bit longer. Some quick example text to build on the card title and make up the bulk of the card's content.
                        <br />
                        <br />
                        <button class="btn btn-outline-light waves-effect btn-xs">
                            <i class="mdi mdi-tag"></i> Etiket
                        </button>
                        <hr />
                        <button class="btn btn-sm btn-light waves-effect waves-light">Oylamayı Sıfırla</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-0"><a href="#" class="btn btn-info waves-effect waves-light btn-xs">KOD-123</a> Lugas Safe Server IOC Operasyonları</h5>
                <br />
                <div id="cardCollpase1" class="collapse show">
                    <div class="table-responsive">
                        This is a wider card with supporting text below as a natural lead-in to additional content.
                        This content is a little bit longer. Some quick example text to build on the card title and make up the bulk of the card's content.
                        <br />
                        <br />
                        <button class="btn btn-outline-light waves-effect btn-xs">
                            <i class="mdi mdi-tag"></i> Etiket
                        </button>
                        <hr />
                        <button class="btn btn-sm btn-success waves-effect waves-light">Oylamaya Başlat</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="userId" class="form-control" value="@(string.IsNullOrEmpty(Model.OwnerUserId) ? Guid.NewGuid().ToString("N") : Model.OwnerUserId)" />

<div class="modal fade" tabindex="-1" role="dialog" id="profileSettings">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="userName" class="col-form-label">Display Name</label>
                    <input type="text" class="form-control" id="userName">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSaveProfile">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="~/js/signalr/signalr.js"></script>
    <script src="~/js/site.js"></script>

    <script type="text/javascript">
        window.roomId="@Model.RoomId";
        window.isOwner="@isOwner";

        const roomManager = new RoomManager(window.roomId, window.isOwner);
        jQuery("#btnSaveProfile").click(function(){
         roomManager.saveProfile();
        });

        $(".next-round-custom").click(function () {
                var nextRound = false;
                if ($(".next-round-custom").html() == "Oyları Göster") {
                    $(".next-round-custom").html("Sonraki Tur");
                }
                else if ($(".next-round-custom").html() == "Sonraki Tur") {
                    $(".next-round-custom").html("Oyları Göster");
                    nextRound = true;
                }
                roomManager.nextRound(true, nextRound);
            });
    </script>
}
