<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="debug"
      internalLogFile="c:\temp\internal-nlog.txt">

  <targets>
    <!-- Database Logging -->
    <target xsi:type="Database" name="database">
      <connectionString>${var:dbConnectionString}</connectionString>
      <commandType>StoredProcedure</commandType>
      <commandText>[dbo].[CreateSystemLog]</commandText>
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Exception" layout="${exception:format=tostring}" />
      <parameter name="@UserId" layout="${mdc:item=UserId}" />
      <parameter name="@IpAddress" layout="${mdc:item=IpAddress}" />
    </target>

    <!-- MongoDb Logging -->
    <!--<target xsi:type="Mongo"
        name="mongoCustom"
        includeDefaults="false"
        connectionString="mongodb://localhost"
        collectionName="SystemLog"
        databaseName="Logging"
        cappedCollectionSize="26214400">
      <field name="Date" layout="${date}" bsonType="DateTime" />
      <field name="Level" layout="${level}"/>
      <field name="Message" layout="${message}" />
      <field name="Logger" layout="${logger}"/>
      <field name="Exception" layout="${exception:format=tostring}" />
      <field name="ThreadID" layout="${threadid}" bsonType="Int32" />
      <field name="ThreadName" layout="${threadname}" />
      <field name="ProcessID" layout="${processid}" bsonType="Int32" />
      <field name="ProcessName" layout="${processname:fullName=true}" />
      <field name="UserName" layout="${windows-identity}" />
    </target>-->
    
  </targets>

  <rules>
    <!--Diğer logları bloklar-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <!--Loglama Aktif-->
    <logger name="*" minlevel="Info" writeTo="database" />
    <!--Loglama Kapalı-->
    <!--<logger name="*" minlevel="Off" writeTo="database" />-->
  </rules>
</nlog>