<div class="container">
    <div class="row p-1">
        <div class="col-1">User</div>
        <div class="col-5"><input type="text" id="userInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-1">RoomId</div>
        <div class="col-5"><input type="text" id="txtRoomId" value="test" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <button type="button" onclick="Vote(2)"  class="vote btn btn-primary">2</button>
            <button type="button" onclick="Vote(4)" class="vote btn btn-primary">4</button>
            <button type="button" onclick="Vote(7)" class="vote btn btn-primary">7</button>
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/js/jquery/jquery.min.js"></script>
<script src="~/js/signalr/signalr.js"></script>
<script src="~/js/site.js"></script>
