<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Scrum Poker" name="description" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/images/favicon.ico">

    <script src="~/jquery/jquery.min.js"></script>

    <!-- Plugins css -->
    <link href="~/libs/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/libs/selectize/css/selectize.bootstrap3.css" rel="stylesheet" type="text/css" />
    <script src="~/js/head.js"></script>

    <!-- css -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="app-style" />
    <link href="~/css/app.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/main.css" rel="stylesheet" type="text/css" />

</head>
<body>

    <!-- Begin page -->
    <div id="wrapper">

        @await Component.InvokeAsync("Menu")

        <div class="content-page">

            @await Component.InvokeAsync("TopBar")

            <div class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>                
            </div>


        </div>

        @*@await Html.PartialAsync("_FooterPartialView")*@
        
    </div>

    <!-- Vendor js -->
    <script src="~/js/vendor.min.js"></script>

    <!-- App js -->
    <script src="~/js/app.min.js"></script>

    <!-- Plugins js-->
    <script src="~/libs/flatpickr/flatpickr.min.js"></script>
    <script src="~/libs/apexcharts/apexcharts.min.js"></script>
    <script src="~/libs/selectize/js/standalone/selectize.min.js"></script>

    @RenderSection("Scripts",false);

</body>
</html>
