body {
    border-top: 4px solid #ffcd03
}

#poker-cards ul li {
    font-family: "Cerebri Sans,sans-serif";
    list-style: none;
}

    #poker-cards ul li a {
        width: 80px;
        height: 100px;
        text-align: center;
        line-height: 100px;
        font-weight: bold;
        font-size: 16px;
        float: left;
        margin: 5px;
        background: #fff;
        color: #333;
        text-shadow: 1px 1px 2px #43bfe5;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        transition: all .2s ease-in-out;
        border-radius: 5px;
    }

        #poker-cards ul li a:hover {
            transform: scale(1.1);
            background: #43bfe5;
            color: #fff;
            text-shadow: 1px 1px 2px #333;
        }

    #poker-cards ul li.selected-poker-card a {
        transform: scale(1.1);
        background: #1abc9c;
        color: #fff;
        text-shadow: 1px 1px 2px #333;
    }

.next-round-custom {
    height: 50px;
    border: 2px solid #9f9e9a;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9f9e9a;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    margin: 20px 0;
    padding: 35px 35px;
}

    .next-round-custom:hover {
        background-color: #9f9e9a;
        color: #fff;
    }

.cards-custom {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.card-custom {
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 65px;
    height: 85px;
}

    .card-custom:hover {
        background-color: lightgray;
    }

    .card-custom.selected {
        background-color: #43bfe5;
        color: white;
    }

.inbox-item {
    position: relative !important;
    overflow: visible !important;
}