body {
    border-top: 4px solid #ffcd03
}

#poker-cards ul li {
    font-family: "Cerebri Sans,sans-serif";
    list-style: none;
}

    #poker-cards ul li a {
        width: 80px;
        height: 100px;
        text-align: center;
        line-height: 100px;
        font-weight: bold;
        font-size: 30px;
        float: left;
        margin: 5px;
        background: #fff;
        color: #333;
        text-shadow: 1px 1px 2px #43bfe5;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        transition: all .2s ease-in-out;
        border-radius: 5px;
    }

        #poker-cards ul li a:hover {
            transform: scale(1.1);
            background: #43bfe5;
            color: #fff;
            text-shadow: 1px 1px 2px #333;
        }

    #poker-cards ul li.selected-poker-card a {
        transform: scale(1.1);
        background: #1abc9c;
        color: #fff;
        text-shadow: 1px 1px 2px #333;
    }
